.login{
  text-align: center;
  margin: 0 auto;
  margin-top: 17%;
  border-radius: 5%;
  border: 1px solid black;
  width: 280px;
  height: 280px
}

input[type=submit], button{
  background-color: #555555;
  border: none;
  color: white;
  padding: 6px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  transition-duration: 0.4s;
}

input[type=submit]:hover, button:hover {
  background-color: white;
  color: black;
}

html *{
  font-family: "Lucida Console", "Courier New", monospace;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1000px;
  margin: 0 auto;
  margin-top: 15px;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  background: grey;
  white-space: nowrap
}

tr:nth-child(even) {
  background-color: #dddddd;
}